@{
    ViewData["Title"] = "Dashboard";
}

@section scripts{
<script>
    $(document).ready(function () {
        var myTable = $('#myTable');

        myTable.DataTable({
            "order": [[1, "desc"]]
        });

    });
</script>
}

@section styles{
<style>
    .glyphicon-dy {
        padding-right: 15px;
    }

    .paddingLeft10{
        padding-left: 10px;
    }
</style>
}

<div class="row">
    <div class="col-sm-12">
        <table id="myTable" class="table table-striped" cellspacing="0">
            <thead>
                <tr>
                    <th>Container name</th>
                    <th>State</th>
                    <th>Event</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        DrupalThomas
                    </td>
                    <td>
                        Running
                    </td>
                    <td>
                        Deployed 2 minutes ago.
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-dy glyphicon-play"></span>
                        <span class="glyphicon glyphicon-dy glyphicon-off"></span>
                        <span class="glyphicon glyphicon-dy glyphicon-repeat"></span>
                        <span class="glyphicon glyphicon-dy glyphicon-cog" data-toggle="modal" data-target="#myModal"></span>
                        <span class="glyphicon glyphicon-dy glyphicon-export"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        SQLPHP
                    </td>
                    <td>
                        Running
                    </td>
                    <td>
                        Deployed 5 hours ago.
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-dy glyphicon-play"></span>
                        <span class="glyphicon glyphicon-dy glyphicon-off"></span>
                        <span class="glyphicon glyphicon-dy glyphicon-repeat"></span>
                        <span class="glyphicon glyphicon-dy glyphicon-cog" data-toggle="modal" data-target="#myModal"></span>
                        <span class="glyphicon glyphicon-dy glyphicon-export"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        WordPressHRO
                    </td>
                    <td>
                        Halted
                    </td>
                    <td>
                        Exitted with code 5.
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-dy glyphicon-play"></span>
                        <span class="glyphicon glyphicon-dy glyphicon-off"></span>
                        <span class="glyphicon glyphicon-dy glyphicon-repeat"></span>
                        <span class="glyphicon glyphicon-dy glyphicon-cog" data-toggle="modal" data-target="#myModal"></span>
                        <span class="glyphicon glyphicon-dy glyphicon-export"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        TestserverUbuntu15.10
                    </td>
                    <td>
                        Stopped
                    </td>
                    <td>
                        Stopped manually 3 hours ago.
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-dy glyphicon-play"></span>
                        <span class="glyphicon glyphicon-dy glyphicon-off"></span>
                        <span class="glyphicon glyphicon-dy glyphicon-repeat"></span>
                        <span class="glyphicon glyphicon-dy glyphicon-cog" data-toggle="modal" data-target="#myModal"></span>
                        <span class="glyphicon glyphicon-dy glyphicon-export"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Container configuration</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>
                                Actions
                            </label>
                            <button class="btn btn-default" id="">Start<span class="glyphicon paddingLeft10 glyphicon-play"></span></button>
                            <button class="btn btn-default" id="">Restart<span class="glyphicon paddingLeft10 glyphicon-repeat"></span></button>
                            <button class="btn btn-default" id="">Move<span class="glyphicon paddingLeft10 glyphicon-export"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Container name:</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Container name:</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Exit code:</label>
                            <select class="form-control">
                                <option>
                                    Code 1
                                </option>
                                <option>
                                    Code 2
                                </option>
                                <option>
                                    Code 5
                                </option>
                                <option>
                                    Code 10
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Action: </label>
                        <input type="text" class="form-control" placeholder="action for exitcode">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>

    </div>
</div>