@{
    ViewData["Title"] = "Dashboard";
}

@section scripts{
<script>
    $(document).ready(function () {
        var myTable = $('#myTable');

        @{
            foreach(Container container in Model) {
                @:$('#myTable > tbody:last-child').append('<tr><td>@container.Name</td><td>@container.State</td><td>tempState</td><td><span class="glyphicon glyphicon-dy glyphicon-play" data-toggle="tooltip" title="Start a container"></span><span class="glyphicon glyphicon-dy glyphicon-off" data-toggle="tooltip" title="Stop a container"></span><span class="glyphicon glyphicon-dy glyphicon-repeat" data-toggle="tooltip" title="Restart a container"></span><span class="glyphicon glyphicon-dy glyphicon-cog edit" data-toggle="tooltip" title="Edit a container"></span><span class="glyphicon glyphicon-dy glyphicon-export" data-toggle="tooltip" title="Move a container"></span></td></tr>');
            }
        }

        var myTableDataTable = myTable.DataTable({
            "aoColumns": [ 
                   { "bSortable": true },
                   { "bSortable": true },
                   { "bSortable": false },
                   { "bSortable": false }
            ],
            "order": [[1, "desc"]]
        });

        $('.glyphicon-play').on('click', function(){
            //Start container
            alert("Start container");
        });

        $('.glyphicon-off').on('click', function () {
            //Stop container
            alert("Stop container");
        });

        $('.glyphicon-repeat').on('click', function () {
            //Restart container
            alert("Restart container");
        });

        $('.glyphicon-cog').on('click', function () {
            //Edit container
            $('#myModal').modal('show');
        });

        $('.glyphicon-export').on('click', function () {
            //Move container
            alert("Move container");
        });

        $('#saveContainer').on('click', function () {
            //Save container
            alert("Saved container, will close this window now.");
        });

        $('#myTable tbody').on('click', 'span', function () {
            var data = myTableDataTable.row($(this).parents('tr')).data();
            var containerName = data[0];
            var containerState = data[1];
            $("#containerName").val(containerName);
            $("#containerState").val(containerState);
        });
        
    });
</script>
}

@section styles{
<style>
    .glyphicon-dy {
        padding-right: 15px;
        cursor: pointer;
    }

    .paddingLeft10{
        padding-left: 10px;
    }
</style>
}

<div class="row">
    <div class="col-sm-12">
        <table id="myTable" class="table table-striped" cellspacing="0">
            <thead>
                <tr>
                    <th>Container name</th>
                    <th>State</th>
                    <th>Event</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Container configuration</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Container name:</label>
                            <input type="text" class="form-control" id="containerName">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Container description:</label>
                            <input type="text" class="form-control" id="containerDescription">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-6 col-sm-6">
                        <label>Container state:</label>
                        <input type="text" class="form-control" disabled="disabled" id="containerState">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>
                                Actions
                            </label>
                            <button class="btn btn-default" id="">Start<span class="glyphicon paddingLeft10 glyphicon-play"></span></button>
                            <button class="btn btn-default" id="">Restart<span class="glyphicon paddingLeft10 glyphicon-repeat"></span></button>
                            <button class="btn btn-default" id="">Move<span class="glyphicon paddingLeft10 glyphicon-export"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveContainer">Save</button>
            </div>
        </div>

    </div>
</div>